<div class="weather-carousel">
</div>
<!--<input class="inputLongitude"><p>Longitude</p>
<br>
<input class="inputLatitude"><p>Latitude</p>
<br>
<input class="inputNumDaysForCoords"><p>numDaysForCoords</p>
<br>
<button class="add-card-coords-button">add card via coords</button>
<br>-->
<button class="add-card-location-button">add card via location</button>
<br>
<input class="inputCity"><p>city</p>
<br>
<input class="inputCountryCode"><p>country - add as 2-letter country code (ex. Germany = "DE")</p>
<br>
<input class="inputNumDaysForLocation"><p>numDaysForLocation</p>