<div class="weather-carousel">
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>Karlsruhe</b></h3>
    <h5 class="weather-card-city-date">Date</h5>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h6 class="weather-card-conditions-text">It's raining men</h6>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>Paris</b></h3>
    <h5 class="weather-card-city-date">Date</h5>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h6 class="weather-card-conditions-text">It's raining men</h6>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>Rome</b></h3>
    <h5 class="weather-card-city-date">Date</h5>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h6 class="weather-card-conditions-text">It's raining men</h6>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>City</b></h3>
    <h5 class="weather-card-city-date">Date</h5>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h6 class="weather-card-conditions-text">It's raining men</h6>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>City</b></h3>
    <h5 class="weather-card-city-date">Date</h5>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h6 class="weather-card-conditions-text">It's raining men</h6>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>City</b></h3>
    <h6 class="weather-card-city-date">Date</h6>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h5 class="weather-card-conditions-text">It's raining men</h5>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>City</b></h3>
    <h6 class="weather-card-city-date">Date</h6>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h5 class="weather-card-conditions-text">It's raining men</h5>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
  <div class="weather-card">
    <h3 class="weather-card-city-name"><b>City</b></h3>
    <h6 class="weather-card-city-date">Date</h6>
    <img src="http://openweathermap.org/img/w/10d.png" class="weather-card-conditions-img">
    <h5 class="weather-card-conditions-text">It's raining men</h5>
    <table class="weather-card-temperature-table">
      <tr class="weather-card-temperature-row">
        <td><h6 class="weather-card-temperature-min-text">Min: 17°</h6></td>
        <td><h6 class="weather-card-temperature-avg-text">Avg: 20°</h6></td>
        <td><h6 class="weather-card-temperature-max-text">Max: 25°</h6></td>
      </tr>
    </table>
  </div>
</div>
