#carousel {
    position: fixed;
    height:25vh;
    background-color:rgba(0, 0, 0, 0.4);
    bottom:0;
    right:0;
    padding:10px;
    float: right;
    
    -webkit-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.navbar-inverse{
    margin:0;
    border-radius: 0;
}

#form_area{
    position: fixed;
    float: left;
    left:0;
    margin: 0;
    padding: 0;
}

